/* 
for SP
*/


@import url('style.css');


@media only screen and (max-width: 1000px) {
	body {
    	min-width: 100%;
/*        font-size: 16px;*/
/*        font-size: 0.9rem;*/
/*        line-height: 1.6;*/
    }
	#masthead,
/*    .home .net section,*/
    .home .top-cont,
    .page article .entry-content,
    .fix #content article h1.entry-title,
    .single article .entry-content,
    .single nav.post-navigation,
    .top .news,
    section.error-404 {
    	width: 100%;
        padding: 0 5%;
    }
    .top article .entry-content {
        width: 100%;
        padding: 0;
    }
    .home .net section {
    	width: 90%;
        margin: auto;
    }
    
    .main-navigation ul ul { /* *** */
    	display: none;
        left: 0;
    }
    
    a:hover,
    a:focus,
    a:active,
    .main-navigation ul ul a:hover,
    .main-navigation li:hover > a,
    .main-navigation li.focus > a  {
        color: #5b5c5c;
    }
    
    .site-branding h1 img {
    	width: 150px;
    }
    .main-navigation {
    	margin-top: 2em;
    }
    .news article h3 {
    	width: 77%;
    }
        
}	

@media only screen and (max-width: 800px) { /* iPad */
	body {
    	font-size: 13px;
		/* font-size: 0.8rem; */
    }
    
    .works section > div p {
    	font-size: 1.1em;
    }
    
    p.tel a {
        color: #2A55A2;
    }
    .recruit section#voice a {
    	width: 48%;
        margin-right: 4%;
        margin-bottom: 2.2em;
    }
    
}

/* iPhone6+ LandScape/ 6 LandScape/ 5s LandScape(570px) */
@media only screen and (max-width: 750px) {
	body {
    	font-size: 14px;
    }
    
    .page #main,
    .single #main,
    section.error-404 {
        min-height: 300px;
    }
    
    #masthead {
    	padding: 0;
    }
    
    .site-branding {
    	margin-left: 10px;
    }
    .site-branding h1 img {
    	width: 120px;
    }
    
    .tgl-bar {
    	width: 3.3em;
        float: right;
        margin: 0.9em 12px 0 0;
        text-align: center;
        color: #2b558b;
    }
    .tgl-bar .fa {
    	font-size: 3.2em;
        display: block;
        margin: 0;
        padding: 0;
        line-height: 0.85em;
        vertical-align: middle;
    }
    .tgl-bar span {
    	display: block;
        font-size: 0.8em;
        padding: 0;
        line-height: auto;
    }
    
    #masthead .main-navigation {
    	display: none;
    	clear: both;
        float: none;
    	background: #2b558b;
        padding-top: 1.0em;
        width: 100%;
    }
    .main-navigation ul {
    	width: 100%;
        margin: auto;
    }
    .main-navigation li {
        position: relative;
        float: none;
        padding: 0.2em 0 0.5em;
    }
    .main-navigation a {
    	color: #fff;
        border: 1px dotted #fff;
        border-width: 0 0 1px 0;
        margin: 0 1em;
        padding: 0.3em 0.3em 0.8em;
        font-size: 1.1em;
    }
    .main-navigation a .fa{
    	font-size: 1.2em;
        margin-right: 0.7em;
    }
    .main-navigation li:last-of-type a {
    	border-width: 0;
    }
    .main-navigation ul ul li:last-of-type {
        border-bottom-width: 1px;
    }
    .main-navigation ul ul {
    	background: #2D5E9D;
        position: relative;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        padding-bottom: 0;
        margin-bottom: 0.7em;
    }
    .main-navigation ul ul a {
        padding: 0.3em 0 0.3em 2em;
    }

    .main-navigation ul ul a:hover,
    .main-navigation li:hover > a,
    .main-navigation li.focus > a {
        color: #fff;
    }
    
    #content h1,
    #content h2 {
    	line-height: 1.4em;
    }
    .entry-content p {
        font-size: 1.1em;
    }
    
    /* TOP */
    .net {
        padding: 1.8em 0;
        margin-bottom: 5em;
    }
    .net section {
        padding: 0.8em 1.0em;
    }
    .net section h1 {
    	font-size: 1.55em;
    }
    .net section h1 br {
        display: block;
    }
    img.onp {
		display: none;
	}
    img.ons {
        display: block;
    }
    .top-cont section {
        margin-bottom: 6em;
    }
    .top-cont section:last-of-type h2 {
        margin: 0 0 0.5em;
        width: 100%;
        float: none;
    }
    .top-cont section:last-of-type p.exp {
        width: 100%;
    }
    .top-cont section:last-of-type img {
        width: 100%;
        margin-bottom: 1.4em;
    }
    .news h2 span {
    	margin-left: 1.5em;
    }
    .news article .fa {
    	margin-right: 0.3em;
    }
    .news article span {
    	font-size: 0.85em;
        margin-right: 0.7em;
    }
    .news article h3 {
    	width: 74%;
        line-height: 1.3em;
    }
    
    /* Page */
    .fix #content article h1.entry-title {
    	font-size: 1.5em;
    }
    .fix article .entry-title span {
    	margin-left: 1.2em;
    }
    [class*="-inq"] #content article h1.entry-title {
    	font-size: 1.1em;
    }
    .fix article section h2 {
    	font-size: 2em;
    	margin-bottom: 0.3em;
        padding-bottom: 0;
    }
    .fix section h3 {
        font-size: 1.5em;
    }
    [class*="contact"] section h3 {
    	font-size: 1.35em;
    }
    .fix article section p {
    	margin-top: 0;
    }
    .company section.first h2 {
    	margin-top: -0.8em;
    }
    .company section.first p {
    	width: 90%;
    }
    .company section.second h2,
    .company section.second p {
        float: none;
        width: 100%;
    }
    .table .cth {
        width: 26%;
    }
    .company th {
        padding-left: 0.6em;
    }
    
    .works section > div {
		width: 48%;
    }
    .recruit article section h3 {
    	margin: 3em 0 0.5em;
    }
    .recruit h3:first-of-type {
        margin-top: 1.3em;
    }
    .recruit section#voice > p {
    	margin: 0;
    }

    .recruit #guide > p {
    	margin-bottom: 0;
    }
    .recruit .nr-btn:last-of-type {
    	margin-bottom: 0;
    }
    .voice-member > div {
        width: 47%;
        float: left;
        margin-right: 3%;
        margin-bottom: 1.2em;
    }
    
    /* Btn */
    .nr-btn {
        text-align: center;
    }
    
    
    .wpcf7 {
    	padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .wpcf7 input[type="text"],
    .wpcf7 input[type="email"],
    .wpcf7 input[type="tel"] {
        width: 100%;
    }
    .wpcf7 .wpcf7-list-item {
    	display: block;
        padding-right: 0;
        margin: 0.7em 1em;
    }
    
    p.tel {
    	font-size: 2.6em;
    }
    
    #colophon .main-navigation a {
    	color: #4b4c4c;
        text-align: left;
        border-color: #aaa;
        padding-left: 0.3em;
        margin-left: 1.7em;
        margin-right: 1.7em;
    }
	
}

@media only screen and (max-width: 500px) { /* Portlait: 6+ /6/ 5s */

	

}
@media only screen and (max-width: 400px) { /* 6 */
	
}

@media only screen and (max-width: 320px) { /* 5s */
	body {
    	font-size: 11px;
    }
    .tgl-bar {
    	margin-top: 1.1em;
    }
    

}



